.main-menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: var(--yellowish-olive);
}
label{
    display: block;
}
select{
    padding: 10px;
} 