.main-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: var(--yellow-green);
}
label{
    display: block;
}
select{
    padding: 10px;
}